.s-address
  %header.s-header
  %main.s-address_main
    %section.s-address_main_r
      %h2 発送元・お届け先住所
      = form_for @address do |f|
        .s-address_main_r_contents
          .field
            %div
              = f.label "お名前"
              %span.require 必須
              %br/
            = f.text_field :family_name, autofocus: true, autocomplete: "family_name",class: "input-default harf",placeholder: "例）山田"
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name",class: "input-default harf",placeholder: "例）太郎"