= render partial: 'layouts/header'

%main.y__l-container
  .y__l-container-box
    
    = render 'mypage/side'
    
    .y__logout-page
      .y__logout-page__inner   
        .y__logout-page__content
          -# ログアウト機能実装後に変更
          -# = form_tag(destroy_user_session_path, method: :delete) do
          = form_tag do
            %button.y__btn-green{ type:'submit'} ログアウト

= render partial: 'layouts/footer'