$Background: rgb(245,245,245);  
$Lightgray: #fafafa;  
$White: #ffffff;  
$Blue: #0099e8;  
$Red: #ea352d;  
$link-blue: #51ceff;
$header-icon: rgb(255, 255, 255); 
$header-icon-top: rgb(134, 127, 127);
$header-border: rgb(204, 204, 204);
$header-border-2:rgb(240, 240, 240);
$header-menu-red: rgb(234, 53, 45);
$header-menu-gley: rgb(245, 245, 245);