// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-main{
  max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
  .header_contents{
    display: flex;
    align-items: center;
    padding: 3px 0px;
    .header_logo{
      margin: 0px auto;
      height: 40px;
      width: 200px;
    }
    .header-seach{
      margin-left: auto;
      width: 80%;
      background-color: #3CCACE;
      .search-input{
        width: 800px;
      }
    }
  }
}
.contens-bar{
  justify-content: space-between;
  display: flex;
  width: 100%;
  .serch-contents{
    width: 250px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-left: 70px;
  }
  .account-contents{
    width: 250px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-right: 70px;
  }
}
.title-pic{
  height: 550px;
  width: 100%;
  background-image:url("mainVisual.jpg");
  background-size:cover;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.6);
  .title{
    padding-top: 200px;
    padding-left: 90px;
    font-size: 50px;
  }
  .title-text{
    padding-left: 90px;
  }
  .title-link{
    display: flex;
    margin-left: 90px;
    margin-top: 50px;
    .apple{
      margin-top: 10px;
    }
    .google{
      margin-left: 30px;
    }
  }
}
.pic_3{
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 20px;
  .text-top{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column
  }
  .pic-box{
    display: flex;
    width: 100%;
    font-size: 30px;
    margin: 0 auto;
    padding: 40 20;
    .pic1{
      width: 700px;
      position: relative;
      .pic-1{
        height: 300px;
        align-items: center;
        background-image:url("pic1.jpg");
        background-image: 270px 300px;
        background-size: cover;
      }
    .pic-text{
      margin-top: 5px;
      margin-left: 40px;
      list-style: none;
      font-size: 25px;
      font-weight: bold;
      .pic-title{
        display: flex;
        li.text-blue{
        color: #3CCACE;
        }
      }
    }
    li.writing{
      margin-top: 20px;
      font-size: 20px;
      list-style: none;
    }
  }
    .pic2{
      .pic-2{
        height: 300px;
        width: 300px;
        margin-left: 100px;
        background-image:url("pic2.jpg");
        background-size:270px 300px;
        background-size: cover;
      }
      .pic-text{
        margin-left: 110px;
        display: flex;
        margin-top: 5px;
        list-style: none;
          .pic-title{
            display: flex;
          li.left-text-blue{
            width: 100px;
            color: #3CCACE;
            font-weight: bold;
            font-size: 25px;
          }
          li.left-text{
            font-weight: bold;
            font-size: 25px;
          }
        }
      }
      li.writing{
        margin-top: 20px;
        font-size: 20px;
        list-style: none;
        margin-left: 100px;
      }
    }
    .pic3{
      .pic-3{
      height: 300px;
      margin-left: 100px;
      width: 270px;
      background-image:url("pic3.jpg");
      background-size:270px 300px;
    }
    .pic-text{
      margin-left: 110px;
      display: flex;
      margin-top: 5px;
      list-style: none;
        .pic-title{
          display: flex;
        li.left-text-blue{
          width: 100px;
          color: #3CCACE;
          font-weight: bold;
          font-size: 25px;
        }
        li.left-text{
          font-weight: bold;
          font-size: 25px;
        }
      }
    }
    li.writing{
      margin-top: 20px;
      font-size: 20px;
      list-style: none;
      margin-left: 100px;
    }
  }
  }
 }
.middle_pic{
  background-image:url("middle-pic.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  margin-top: 50px;
  .middle-text-blok{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    .middle-title-text{
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 30px;
  }
  li.middile-text{
    list-style: none;
    }
  }
}
.pic-box{
  .pic-box-to{
    padding: 60 100;
    .pic-box-title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .pic-box3{
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    .pic{
      display: flex;
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    text-align: center;
    padding: 0 20px;
    }
    li.box-title{
      font-weight: bold;
      list-style: none;
    }
    li.box-text{
      list-style: none;
      padding: 20px 20px;
    }
    }
  }
}
.item-line{
  background-color: #f8f8f8;
  height: 600px;
  .item-to{
    padding: 80px 0px;
    margin: 0px auto;
    .item-text{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }
    .item-text-blue{
      color: #3CCACE;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }
    .item-pic-list{
      display: flex;
      font-size: 30px;
      margin: 0 auto;
      height: 350px;
      padding: 40px 20px;
      justify-content: space-evenly;
      text-align: center;
      .item-pic1{
        background-color: white;
        .item-image{
          margin: 20px auto;
          height: 200px;
          width: 300px;
          object-fit: cover;
          margin: 20px auto;
        }
        .item-image-text{
          font-size: 16px;
          text-align: left;
          height: 200px;
          padding: 10px;
          .item-price{
            display: flex;
            margin-top: 10px;
            .item-fav{
              margin-left: 200px;
            }
          }
          .item-sale-tex{
            font-size: 3px;
          }
        }
      }
      .item-pic2{
        background-color: white;
        .item-image{
          margin: 20px auto;
          height: 200px;
          width: 300px;
          object-fit: cover;
          margin: 20px auto;
        }
        .item-image-text{
          font-size: 16px;
          text-align: left;
          height: 200px;
          padding: 10px;
          .item-price{
            display: flex;
            margin-top: 10px;
            .item-fav{
              margin-left: 200px;
            }
          }
          .item-sale-tex{
            font-size: 3px;
          }
       }
      }
      .item-pic3{
        background-color: white;
        .item-image{
          margin: 20px auto;
          height: 200px;
          width: 300px;
          object-fit: cover;
          margin: 20px auto;
        }
        .item-image-text{
          font-size: 16px;
          text-align: left;
          height: 200px;
          padding: 10px;
          .item-price{
            display: flex;
            margin-top: 10px;
            .item-fav{
              margin-left: 200px;
            }
          }
          .item-sale-tex{
            font-size: 3px;
          }
        }
      }
    }
  }
}
.pic-middle-box{
  align-items: center;
  display: flex;
  padding: 50px 50px;
  width: 100%;
  .pic_1{
    margin-left: 150px;
  }
  .pic_2{
    margin-left: 150px;
  }
  .pic_3{
    margin-left: 150px;
  }
}
.form-pic{
  background-image:url("form-pic.jpg");
  background-size: 1500px 600px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: center;
  .form-to{
    padding: 100px 40px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: honeydew;
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    .link-box{
      display: flex;
      max-width: 400px;
      margin: 0px auto;
      margin-top: 20px;
      height: 50px;
      .app{
        margin-top: 10px;
      }
    }
  }
}
.form{
  height: 300px;
  background-color:#272727;
  color: white;
  .form-to{
    padding: 60px;
    .form-list{
      display: flex;
      margin: 0 auto;
      max-width: 850px;
      text-align: center;
      .form-title{
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      .title{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
      }
        li.list{
          list-style: none;
          margin-bottom: 3px;
        }
      }
    }
    .form-logo{
      margin: 0 auto;
      max-width: 150px;
      .logo-text{
        font-size: 13px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}